@font-face {
  font-family: "raleway";
  src: url("../res/font/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway-italic";
  src: url("../res/font/Raleway-VariableFont_wght.ttf");
  font-weight: italic;
  font-style: italic;
}

body{
  font-family: "raleway", "raleway-italic";
  margin: 0%;
  --grey-color: #f2f2f2;
  --blue-color: #0065fc;
  --light-blue-color: #deebff;
  padding-top: 0em;
}

#bloc_page {
  padding: 0em;  
  margin-top: 0em;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 0em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 93%;
  margin-right: auto;
  margin-left: auto;
  padding: 0em;
  margin-bottom: 3em;
}




#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 10em;  
}

header nav{  
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 2.15em;
}

header nav ul {
  list-style-type: none;
  display: flex;
}
header nav li {
  margin-left: 4.6em;
}
header nav a {
  padding-top: 3em;
  color: black;
  text-decoration: none;
}
header nav a:hover,
.selected {
  color: var(--blue-color);
  border-top: var(--blue-color) solid;
}

img {
  max-width: 100%;
}

#signin {
  color: var(--blue-color);
  margin-right: 2em;
}

#bloc_body {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}

.title_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0%;
  margin-bottom: 0.9em;
}

.title_section h2 {
  font-weight: bold;  
  font-size: 2.3em;
  margin-top: 0%;
}

.title_section i {
  margin-top: 0.2em;
  font-size: 2.2em;
  color: black;
}

#bloc_body,
#bloc_research,
#bloc_accommodations_populaire,
#bloc_activite {
  margin-top: 0%;
  margin-bottom: 4em;
}

#bloc_research{  
  padding-left: 0.35em;
}

#bloc_research h1 {
  font-size: 2.23em;
  font-weight: bolder;
  margin-top: 0.5em;
}

#bloc_research h2 {
  color: black;
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 0em;
  margin-bottom: 1.2em;
}

.search{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: bolder;
}

.search i {
  background-color: var(--grey-color);
  color: black;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 1em;
  margin: 0em;
  padding-left: 1.15em;
}

.search input {
  border-right: white;
  border-left: white;
  border-top: solid 0.2em var(--grey-color);
  border-bottom: solid 0.2em var(--grey-color);
  padding: 1em;
  width: 27.5em;
}
.search ::placeholder{  
  font-family: "raleway", "raleway-italic";
  color: black;  
  font-size: 2em;
  font-weight: bolder;
  padding-left: 0.5em;
}

.search p {
  background-color: var(--blue-color);
  padding: 1em;
  margin: 0%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 6.25em;
}

#bloc_filters {
  margin-bottom: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.7em;
  font-weight: bolder
}

#bloc_filters label {
  margin-top: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;

}
#list_filters {
  display: flex;
  flex-direction: row;
}
.filter{
  margin-left: 1.5em;
}
.filter span{
  border-top: solid 0.15em var(--grey-color);
  border-right: solid 0.15em var(--grey-color);
  border-bottom: solid 0.15em var(--grey-color);
  border-radius: 3em;
  margin-left: -2.5em;
  padding:0.65em;
  padding-left: 3em;
  padding-right: 1.5em;
}

.filter i {
  border-radius: 3em;
  background-color: var(--light-blue-color);
  color: var(--blue-color);
  padding: 0.9em;
  width: 1em;
  margin-right: 0em;
  position: relative;
}

#search_information{
}
#search_information i{
  border-radius: 2em;
  padding: 0.75em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  border: 0.1em solid var(--grey-color);
  font-size: 1.25em;
  margin-right: 0.5em;
}
#search_information span{
  font-size: 1.5em;
  font-weight: bolder;
}


.img_accommodation,
.img_populaire,
.img_activite {
  object-fit: cover;
}

#bloc_accommodations_populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bloc_accommodations {
  background-color: var(--grey-color);
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1.9em;
  padding: 4em;
  padding-bottom: 0em;
}

#show_more{
  font-size: 1.9em;
  font-weight: bolder;
  margin-left: 0.2em;
  margin-bottom: 0em;
}

#list_accommodation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0em;
}

.bloc {
  display: flex;
  padding: 0.5em;
  background-color: white;
  box-shadow: 5px 10px 15px var(--grey-color);
}

#list_accommodation .bloc,
#list_populaire .bloc {
  margin-bottom: 3em;
}

.description {
  position: relative;
  margin: 1em;
  display: flex;
  flex-direction: column;
  
}

.description h3 {
  min-width: 100%;
  margin: 0em;
  margin-bottom: 0.4em;
  font-size: 1.67em;
  font-weight: bold;
}
.description span {
  margin: 0em;
  font-size: 1.4em;
}

.description .star_score {  
  position: absolute; 
  font-size: 1.03em;
}

.accommodation .description .star_score {
  margin-top: 0.4em;
  bottom: 0;
}
.populaire .description .star_score {
  bottom: 0;
}

#bloc_accommodations,
#bloc_populaire,
.bloc {
  border-radius: 2em;
}

i {
  color: var(--blue-color);
}

.grey {
  color: var(--grey-color);
}

.accommodation {
  flex-direction: column;
  min-width: 29%;
  max-width: 29.5%;
  max-height: 19em;
}

.accommodation .description {
  height: 100%;
}

.img_accommodation {
  max-height: 60%;
  border-top-left-radius: 1.7em;
  border-top-right-radius: 1.7em;
}

#bloc_populaire {
  background-color: var(--grey-color);
  flex: 1;
  min-width: 10%;
  max-width: 25.6%;
  display: flex;
  flex-direction: column;
  margin-left: 1.9em;
  padding: 4em;
  padding-bottom: 0em;
}

#list_populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaire {
  flex-direction: row;
  max-width: 100%;
  min-width: 30%;
  min-height: 13em;
  max-height: 13em;
  margin-bottom: 3.5em;
}
.populaire .description{
  margin-top: 0.5em;
  margin-left: 2em;
}

.img_populaire {
  border-top-left-radius: 1.7em;
  border-bottom-left-radius: 1.7em;
  max-width: 38.2%;
}

#bloc_activite {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

#list_activite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 46.5em;
}

.img_activite {
  border-top-left-radius: 1.7em;
  border-top-right-radius: 1.7em;
  margin-bottom: 1em;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 22.5%;
}

.activite {
  flex-direction: column;
  padding: 0%;
  margin-bottom: 2em;
}

.activite h3 {
  min-height: 2em;
  margin-top: 0em;
  font-weight: bolder;
  margin-left: 1.1em;
  font-size: 1.7em;
}

.img_activite{ 
  margin-bottom: 2em;
}

.fill {
  height: 100%;
}
.fill .img_activite{  
  min-height: 88%;
  max-height: 90%;
}

.tall {
  max-height: 51%;
}
.tall .img_activite{  
  min-height: 78%;
  max-height: 87%;
}

.medium {
  max-height: 43.5%;
}
.medium .img_activite{  
  min-height: 73%;
  max-height: 87%;
}

.small {
  max-height: 35%;
}
.small .img_activite{  
  min-height: 67%;
  max-height: 90%;
}


footer {
  background-color: var(--grey-color);
}

.footer_content{  
  margin-right: 3.5%;
  margin-left: 3.5%;  
  margin-top: auto;
  display: flex;
}

footer div {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 40%;
}

footer h4{
  font-weight: bolder;  
  font-size: 1.8em;
  margin-bottom: 1.15em;
}

footer a{
  font-size: 1.6em;  
  margin-bottom: 0.95em;

}