@font-face {
  font-family: "raleway";
  src: url("../font/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway-italic";
  src: url("../font/Raleway-VariableFont_wght.ttf");
  font-style: italic;
}

body {
  font-family: "raleway", "raleway-italic";
  --grey-color: #f2f2f2;
  --blue-color: #0065fc;
  --light-blue-color: #deebff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 0em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 93%;
  margin-right: auto;
  margin-left: auto;
  padding: 0em;
  margin-bottom: 3em;
}

#logo {
  flex-grow: 1;
  margin-top: 3.225em;
}

#logo img {
  width: 10em;
}

header nav {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
header nav a {
  padding-top: 2.9em;
  margin-left: 2.5em;
  padding-right: 1em;
  padding-left: 1em;
}
header nav a {
  color: black;
  text-decoration: none;
}
#primary-nav a:hover,
.selected {
  color: var(--blue-color);
  border-top: var(--blue-color) solid;
}

img {
  max-width: 100%;
}

.sign-in {
  color: var(--blue-color);
  margin-right: 2em;
}

#bloc-body {
  display: flex;
  flex-direction: column;
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.9em;
}

.section-title h2 {
  font-weight: bold;
  font-size: 2.3em;
  margin-top: 0;
}

.section-title i {
  margin-top: 0.2em;
  font-size: 2.2em;
  color: black;
}

#bloc-body,
#bloc-research,
#bloc-accommodations-popular,
#bloc-activity {
  margin-top: 0%;
  margin-bottom: 4em;
}

#bloc-research {
  padding-left: 0.35em;
}

#bloc-research h1 {
  font-size: 2.23em;
  font-weight: bolder;
  margin-top: 0.5em;
  word-wrap: normal;
}

#bloc-research h2 {
  color: black;
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 0em;
  margin-bottom: 1.2em;
}

.search {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: bolder;
}

.search i {
  background-color: var(--grey-color);
  color: black;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 1em;
  margin: 0em;
  padding-left: 1.15em;
}

.search input {
  border-right: white;
  border-left: white;
  border-top: solid 0.2em var(--grey-color);
  border-bottom: solid 0.2em var(--grey-color);
  padding: 1em;
  width: 27.5em;
}
.search ::placeholder {
  font-family: "raleway", "raleway-italic";
  color: black;
  font-size: 2em;
  font-weight: bolder;
  padding-left: 0.5em;
}

.search button {
  background-color: var(--blue-color);
  border: none;
  padding: 1em;
  margin: 0;
  color: white;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}
.search button span {
  font-family: "raleway", "raleway-italic";
  font-weight: bolder;
  font-size: 1.6em;
  padding: 0;
  margin: 0;
}

.mobile-button {
  display: none;
}

#bloc-filters {
  margin-bottom: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.7em;
  font-weight: bolder;
}

#bloc-filters label {
  margin-top: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
}
#list-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filter {
  margin-left: 1.5em;
}
.filter span {
  border-top: solid 0.15em var(--grey-color);
  border-right: solid 0.15em var(--grey-color);
  border-bottom: solid 0.15em var(--grey-color);
  border-radius: 3em;
  margin-left: -2.5em;
  padding: 0.65em;
  padding-left: 3em;
  padding-right: 1.5em;
}

.filter i {
  border-radius: 3em;
  background-color: var(--light-blue-color);
  color: var(--blue-color);
  padding: 0.9em;
  width: 1em;
  margin-right: 0em;
  position: relative;
}

#search-information {
  display: flex;
}
#search-information i {
  border-radius: 2em;
  padding: 0.75em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  border: 0.1em solid var(--grey-color);
  font-size: 1.25em;
  margin-right: 0.5em;
}
#search-information span {
  font-size: 1.5em;
  font-weight: bolder;
}

.img-accommodation,
.img-popular,
.img-activity {
  object-fit: cover;
}

#bloc-accommodations-popular {
  display: flex;
  justify-content: space-between;
}

#bloc-accommodations-popular {
  flex-direction: row;
}

#bloc-accommodations {
  background-color: var(--grey-color);
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 1.9em;
  padding: 4em;
  padding-bottom: 0em;
}

#show-more {
  font-size: 1.9em;
  font-weight: bolder;
  margin-left: 0.2em;
  margin-bottom: 0em;
}

#list-accommodation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0em;
}

.bloc {
  display: flex;
  padding: 0.5em;
  background-color: white;
  box-shadow: 5px 10px 15px var(--grey-color);
}

#list-accommodation .bloc,
#list-popular .bloc {
  margin-bottom: 3em;
}

.description {
  position: relative;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.description h3 {
  min-width: 100%;
  margin: 0em;
  margin-bottom: 0.4em;
  font-size: 1.67em;
  font-weight: bold;
}
.description span {
  margin: 0em;
  font-size: 1.4em;
}

.description .star-score {
  position: absolute;
  font-size: 1.03em;
}

.accommodation .description .star-score {
  margin-top: 0.4em;
  bottom: 0;
}
.popular .description .star-score {
  bottom: 0;
}

#bloc-accommodations,
#bloc-popular,
.bloc {
  border-radius: 2em;
}

i {
  color: var(--blue-color);
}

.grey {
  color: var(--grey-color);
}

.accommodation {
  flex-direction: column;
  min-width: 29%;
  max-width: 29.5%;
  max-height: 19em;
}

.accommodation .description {
  height: 100%;
}

.img-accommodation {
  max-height: 60%;
  border-top-left-radius: 1.7em;
  border-top-right-radius: 1.7em;
}

#bloc-popular {
  background-color: var(--grey-color);
  flex: 1;
  min-width: 10%;
  max-width: 25.6%;
  display: flex;
  flex-direction: column;
  margin-left: 1.9em;
  padding: 4em;
  padding-bottom: 0em;
}

#list-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular {
  flex-direction: row;
  max-width: 100%;
  min-width: 30%;
  min-height: 13em;
  max-height: 13em;
  margin-bottom: 3.5em;
}
.popular .description {
  margin-top: 0.5em;
  margin-left: 2em;
}

.img-popular {
  border-top-left-radius: 1.7em;
  border-bottom-left-radius: 1.7em;
  max-width: 38.2%;
}

#bloc-activity {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

#list-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 46.5em;
}
.img-activity {
  border-top-left-radius: 1.7em;
  border-top-right-radius: 1.7em;
  margin-bottom: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 22.5%;
}

.activity {
  flex-direction: column;
  padding: 0%;
  margin-bottom: 2em;
}

.activity h3 {
  min-height: 2em;
  margin-top: 0em;
  font-weight: bolder;
  margin-left: 1.1em;
  font-size: 1.7em;
}

.img-activity {
  margin-bottom: 2em;
}

.fill {
  height: 100%;
}
.fill .img-activity {
  min-height: 88%;
  max-height: 90%;
}

.tall {
  max-height: 51%;
}
.tall .img-activity {
  min-height: 78%;
  max-height: 87%;
}

.medium {
  max-height: 43.5%;
}
.medium .img-activity {
  min-height: 73%;
  max-height: 87%;
}

.small {
  max-height: 35%;
}
.small .img-activity {
  min-height: 67%;
  max-height: 90%;
}

footer {
  background-color: var(--grey-color);
}

.footer-content {
  margin-right: 3.5%;
  margin-left: 3.5%;
  margin-top: 0;
  display: flex;
}

footer div {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 40%;
}

footer h4 {
  font-weight: bolder;
  font-size: 1.8em;
  margin-bottom: 1.15em;
}

footer a {
  font-size: 1.6em;
  margin-bottom: 0.95em;
}

@media screen and (max-width: 1200px) {
  header,
  #bloc-body
   {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  #bloc-research,
  #bloc-popular,
  #bloc-accommodations,
  #bloc-activity,
  footer {
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100vw;
  }
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #logo {
    margin: 0;
    order: 0;
    width: 6em;
    flex-grow: 0;
    margin-left: 1em;
    margin-top: 0.7em;
  }
  #logo img {
  }

  #primary-nav {
    order: 2;
    min-width: 100%;
    max-width: 100%;
    padding-top: 1em;
  }

  #sign-in-nav {
    order: 1;
    margin-left: 0em;
    margin-top: 1.2em;
    margin-right: 1em;
  }

  header nav {
    font-size: 1.2em;
    margin-top: 0;
  }

  #primary-nav ul {
    padding: 0;
  }
  #primary-nav a {
    min-width: 50%;
    max-width: 50%;
    padding: 0;
  }

  header nav ul {
    margin: 0;
  }
  header nav li {
    margin-left: 0;
  }

  #primary-nav a {
    border-bottom: var(--grey-color) solid;
    padding-bottom: 0.5em;
  }

  #primary-nav a li {
    text-align: center;
  }

  header nav a {
    padding-top: 0;
    margin: 0;
  }
  #primary-nav a:hover,
  #primary-nav .selected {
    border-top: none;
    border-bottom: var(--blue-color) solid;
  }
  .sign-in {
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }
  #bloc-body {
  }

  #bloc-research {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  #bloc-research h1 {
    font-size: 1.5em;
  }
  #bloc-research h2 {
    font-size: 1.2em;
    margin-bottom: 2em;
  }
  .search {
    font-size: 1.2em;
  }
  .search i {
  }
  .search input {
    padding-left: 0.5em;
  }
  .search ::placeholder {
    font-size: 1.6em;
  }
  .search button {
    border-radius: 1.5em;
    margin-left: -1em;
  }
  .search button i {
    font-size: 1.2em;
  }

  .desktop-button {
    display: none;
  }
  .mobile-button {
    margin-left: 0;
    display: block;
  }
  .mobile-button i {
    background-color: var(--blue-color);
    color: white;
    margin: 0;
    padding: 0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    font-size: 1.5em;
  }

  #bloc-filters {
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 0.5em;
  }
  #bloc-filters label {
    font-size: 0.8em;
    margin-bottom: 1em;
  }
  #list-filters {
  }
  .filter {
    font-size: 0.6em;
    margin-left: 0;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .filter span {
    padding-left: 2.7em;
    padding-right: 1em;
  }

  .filter i {
  }

  #search-information {
    align-items: flex-start;
  }
  #search-information i {
    font-size: 0.8em;
    padding: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  #search-information span {
    padding-top: 0.3em;
    font-size: 1em;
  }
  .section-title {
    padding-top: 2em;
  }
  .section-title h2 {
    font-size: 1.35em;
  }
  .section-title i {
    font-size: 1.35em;
  }

  .popular .description {
    margin-left: 1em;
  }  
  .accommodation .description {
    margin-bottom: 0.5em;
  }
  .description h3 {
    font-size: 1em;
  }
  .description span {
    font-size: 0.8em;
  }

  .description .star-score {
    font-size: 0.7em;
  }
  .accommodation .description .star-score {
  }
  .popular .description .star-score {
  }

  #bloc-accommodations-popular {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  #bloc-accommodations,
  #bloc-popular {
    border-radius: 0;
    padding-bottom: 2em;
  }
  #bloc-accommodations {
    background-color: white;
  }
  .popular,
  .accommodation,  
  .activity {
    margin: 0;
  }
  .accommodation{
    max-width: 100%;
  }

  #list-accommodation .bloc,
  #list-popular .bloc,
  #list-activity .bloc {
    padding: 0.3em;
    margin-bottom: 1em;
  }
  .popular {
    max-height: 8em;
    min-height: 8em;    
    margin-bottom: 1em;
  }
  .accommodation,
  .activity {
    max-height: 13em;
    min-height: 13em;
  }

  #show-more {
    margin-top: 1em;
    font-size: 1em;
  }

  #bloc-activity {
    margin-bottom: 2em;
  }
  #list-activity {
    flex-direction: column;
    max-height: none;
  }
  .activity h3 {
    font-size: 1em;
    margin-bottom: 0;
  }
  .activity .img-activity {
    min-height: 90%;
    max-height: 90%;
    margin-bottom: 1em;
  }
  .column {
    max-width: none;
  }

  footer {
    padding-top: 2em;

  }

  .footer-content {
    max-width: 100%;
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }

  footer div {
    width: 100%;    
    margin-bottom: 2em;
    margin-top: 0;
  }

  footer h4 {
    font-size: 1.1em;
    margin-top: 0;
  }

  footer a {
    font-size: 1em;
    margin-bottom: 0.75em;
  }
}
